PuntoVentaCliente/Connected Services/WSProductos/WSProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="ConsultarProductos">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarProductosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarProductos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarProductosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarProductos" />
  </wsdl:message>
  <wsdl:message name="ConsultarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarProducto" />
  </wsdl:message>
  <wsdl:message name="InsertarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="EliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="ActualizarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarProductos" />
  </wsdl:message>
  <wsdl:message name="BuscarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="WSProductosSoap">
    <wsdl:operation name="ConsultarProductos">
      <wsdl:input message="tns:ConsultarProductosSoapIn" />
      <wsdl:output message="tns:ConsultarProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarProducto">
      <wsdl:input message="tns:InsertarProductoSoapIn" />
      <wsdl:output message="tns:InsertarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input message="tns:EliminarProductoSoapIn" />
      <wsdl:output message="tns:EliminarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input message="tns:ActualizarProductoSoapIn" />
      <wsdl:output message="tns:ActualizarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProductos">
      <wsdl:input message="tns:BuscarProductosSoapIn" />
      <wsdl:output message="tns:BuscarProductosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSProductosSoap" type="tns:WSProductosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProductos">
      <soap:operation soapAction="http://microsoft.com/webservices/ConsultarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProducto">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://microsoft.com/webservices/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://microsoft.com/webservices/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductos">
      <soap:operation soapAction="http://microsoft.com/webservices/BuscarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSProductosSoap12" type="tns:WSProductosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProductos">
      <soap12:operation soapAction="http://microsoft.com/webservices/ConsultarProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProducto">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap12:operation soapAction="http://microsoft.com/webservices/EliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap12:operation soapAction="http://microsoft.com/webservices/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductos">
      <soap12:operation soapAction="http://microsoft.com/webservices/BuscarProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSProductos">
    <wsdl:port name="WSProductosSoap" binding="tns:WSProductosSoap">
      <soap:address location="http://puntoventaservidor.azurewebsites.net/WebService/WSProductos.asmx" />
    </wsdl:port>
    <wsdl:port name="WSProductosSoap12" binding="tns:WSProductosSoap12">
      <soap12:address location="http://puntoventaservidor.azurewebsites.net/WebService/WSProductos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>