PuntoVentaCliente/Connected Services/WSProveedores/WSProveedores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="ConsultarProveedores">
        <s:complexType />
      </s:element>
      <s:element name="ConsultarProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarProveedoresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarProveedoresResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarProveedoresResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarProveedoresResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarProveedores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarProveedoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarProveedoresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarProveedores" />
  </wsdl:message>
  <wsdl:message name="ConsultarProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarProveedores" />
  </wsdl:message>
  <wsdl:message name="InsertarProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarProveedores" />
  </wsdl:message>
  <wsdl:message name="EliminarProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarProveedores" />
  </wsdl:message>
  <wsdl:message name="ActualizarProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarProveedoresSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarProveedores" />
  </wsdl:message>
  <wsdl:message name="BuscarProveedoresSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarProveedoresResponse" />
  </wsdl:message>
  <wsdl:portType name="WSProveedoresSoap">
    <wsdl:operation name="ConsultarProveedores">
      <wsdl:input message="tns:ConsultarProveedoresSoapIn" />
      <wsdl:output message="tns:ConsultarProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarProveedores">
      <wsdl:input message="tns:InsertarProveedoresSoapIn" />
      <wsdl:output message="tns:InsertarProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedores">
      <wsdl:input message="tns:EliminarProveedoresSoapIn" />
      <wsdl:output message="tns:EliminarProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProveedores">
      <wsdl:input message="tns:ActualizarProveedoresSoapIn" />
      <wsdl:output message="tns:ActualizarProveedoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedores">
      <wsdl:input message="tns:BuscarProveedoresSoapIn" />
      <wsdl:output message="tns:BuscarProveedoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSProveedoresSoap" type="tns:WSProveedoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProveedores">
      <soap:operation soapAction="http://microsoft.com/webservices/ConsultarProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProveedores">
      <soap:operation soapAction="http://microsoft.com/webservices/InsertarProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedores">
      <soap:operation soapAction="http://microsoft.com/webservices/EliminarProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProveedores">
      <soap:operation soapAction="http://microsoft.com/webservices/ActualizarProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedores">
      <soap:operation soapAction="http://microsoft.com/webservices/BuscarProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSProveedoresSoap12" type="tns:WSProveedoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProveedores">
      <soap12:operation soapAction="http://microsoft.com/webservices/ConsultarProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProveedores">
      <soap12:operation soapAction="http://microsoft.com/webservices/InsertarProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProveedores">
      <soap12:operation soapAction="http://microsoft.com/webservices/EliminarProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProveedores">
      <soap12:operation soapAction="http://microsoft.com/webservices/ActualizarProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedores">
      <soap12:operation soapAction="http://microsoft.com/webservices/BuscarProveedores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSProveedores">
    <wsdl:port name="WSProveedoresSoap" binding="tns:WSProveedoresSoap">
      <soap:address location="http://puntoventaservidor.azurewebsites.net/WebService/WSProveedores.asmx" />
    </wsdl:port>
    <wsdl:port name="WSProveedoresSoap12" binding="tns:WSProveedoresSoap12">
      <soap12:address location="http://puntoventaservidor.azurewebsites.net/WebService/WSProveedores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>